body{
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: rgb(66, 66, 66);
}
#cabecera #tagline{
    font-weight: normal;
    font-size: .8em;
}
#cabecera{
    display: flex;
    align-items: center;
    background-color: rgb(57, 75, 135);
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin: 0;
    padding: .5em;
    gap: 10px;
}
#container{
    width: 70%;
    text-align: justify;
    border: 1px solid rgb(126, 126, 126);
    margin: auto;
    background-color: #ddd;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
}

#container h1{
    font-size: 40px;
}
#post{
    padding: 10px 30px;
    font-size: 25px;
}

.footer{
    background-color: rgb(80, 80, 80);
    color: white;
    padding: .5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
    border-top: solid black 3px;
}